/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between logo and menu */
  background: #3B71CA;
  padding: 12px;
  position: sticky; /* For positioning dropdown menu */
  z-index: 1000; /* Ensure navbar is above other elements */
  font-family: "Stick No Bills", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  }
  
  /* Title styles */
  
  
  .headtitle {
    font-family: "Montserrat", serif;
    font-weight: 700;
    text-decoration: none;
    color: #d0dbee;
    font-size: 24px; /* Matches nav links' font size */
    transition: color 0.3s ease;
    margin: 0; /* Ensures perfect alignment */
    padding: 10px
  }


  @media (max-width: 768px) {
    
    .headtitle {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;   
     }
    .navbar {
      padding: 10px;
      
    }
  }
