 .modal {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-content {
  background-color: #0a0518;
  border-radius: 8px;
  padding: 20px;
  max-height: 80vh;
  width: 100%;
  max-width: 800px;
  border: solid 1px #2e69c9;
  box-shadow: 4px 4px 6px #0e387c;
  overflow-y: auto;
}

.close {
  position: sticky;
  bottom: 0px;
  left: 100%;
  transform: translateX(-100%);
  margin-top: 20px;
  background-color: #bd0020;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.prototype-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}


.modal-content h2 {
  text-align: center;
  margin: 20px 0 20px; 
  font-size: 1.5rem; 
  color: #fff;
}

.prototype-title {
  color: white;
  padding: 10px 20px;
  border: solid 1px #2e69c9;
  border-radius: 4px;
  font-size: 1rem;
}

.prototype-wraper {
  display: flex;
  flex-direction: column;
  color: #ccc;
  border: solid 1px #2e69c9;
  border-radius: 8px;
  text-align: center;
  margin: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.prototype-wraper:hover {
  opacity: 0.6;
}

.prototype-wraper div ul div{
  margin: 15px;
}

/* Prototype list styling */
.modal-content ul {
  list-style-type: none;
  padding: 0;
}

.prototype-item {
  border: solid 1px #ccc;
  border-radius: 4px;
  padding: 8px 15px;
  margin: 0%;
}
/* Fade-in animation for the modal */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Starts above its final position */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Ends at its final position */
  }
}
@media (max-width: 768px) {
   .modal-content {
    padding: 15px;
    width: 90%;
    max-width: none;
    margin: 20px auto;
  }

  .prototype-grid {
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  .close {
    position: absolute;
    right: 10px;
    bottom: auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 90%;
    padding: 10px;
  }
  
  .prototype-grid {
    grid-template-columns: 1fr;
  }
}
